<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
    http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.1.xsd
    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">

	<!-- jmsFactory -->
	<bean id="commonFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL"
			value="failover://${broker.address}?randomize=false&amp;jms.useAsyncSend=true">
		</property>
	</bean>
	
	<!-- recive 工厂 -->
	<bean id="poolReciveConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="commonFactory" />
	</bean>
	
	<!-- send 工厂-->
	<bean id="poolSendConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="commonFactory"></property>
		<property name="maximumActive" value="1"></property>
	</bean>
	
	<!-- 连接池 -->
	<bean id="borrowContractQuartzPool"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="8" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="8" />
		<property name="threadNamePrefix" value="fruit-" />
		<property name="daemon" value="true" />
	</bean>

	<!-- Spring jmsTemplate -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="poolSendConnectionFactory"></property>
		<property name="defaultDestinationName" value="subject"></property>
		<property name="deliveryPersistent" value="true"></property>
		<property name="pubSubDomain" value="true"></property>
		<property name="sessionAcknowledgeMode" value="1"></property>
		<property name="explicitQosEnabled" value="true"></property>
		<property name="timeToLive" value="604800000"></property>
	</bean>
	
	<!-- 借款合同队列 start-->
	<bean id="borrowContractDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="${borrow.contract.queue}" />
	</bean>
	
	<!-- Queue Producer -->
	<bean id="pushBorrowContractProxy" class="com.fruit.portal.queue.PushBorrowContractProxy">
		<property name="jmsTemplate" ref="jmsTemplate"></property>
		<property name="borrowContractDestination" ref="borrowContractDestination"></property>
	</bean>
	
	<!-- <bean id="receiveBorrowContractListener" class="com.fruit.portal.queue.ReceiveBorrowContractListener"/> -->
	
	<!-- 借款合同消费者 -->
	<!-- <bean id="borrowContractQuartzListener"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="poolReciveConnectionFactory" />
		<property name="concurrentConsumers" value="1" />
		<property name="maxConcurrentConsumers" value="1" />
		<property name="destination" ref="borrowContractDestination" />
		<property name="messageListener" ref="receiveBorrowContractListener" />
		<property name="receiveTimeout" value="10000" />
		<property name="taskExecutor" ref="borrowContractQuartzPool" />
		0:CACHE_NONE,1:CACHE_CONNECTION,2:CACHE_SESSION,3:CACHE_CONSUMER,4:CACHE_AUTO
		<property name="cacheLevel" value="3" />
		<property name="sessionTransacted" value="true" />
	</bean>  -->
	<!-- 借款合同队列 end-->
	
</beans>